extends layout

block title
  title Jouni jäppinen

block description
  meta(name="description" content="Suomalaisen metallitaiteilija Jouni Jäppisen kotisivu")

block destination
  header.splash
    div
      h1 Jouni Jäppinen
      h2 Taiteilija ja käsityöläinen
  main
    section.about(typeof="Person")
      p #[span(property="name") Jouni Jäppinen] on #[span(property="address" typeof="PostalAddress") loviisalainen #[meta(property="addressLocality" content="Loviisa")]#[meta(property="addressCountry" content="Finland")]] #[span(property="jobTitle") taiteilija] ja #[span(property="jobTitle") kultaseppä], joka aloitti työuransa porvoolaisessa sepänpajassa 1970-luvun alussa.
      p Hän jatkoi metallialan perusopintojen jälkeen opintojaan Lahden kultaseppäkoulussa ja myöhemmin Taideteollisessa korkeakoulussa, kunnes hakeutui Tampereen ja Turun yliopistoihin opiskelemaan ammattikasvatusta, sosiologiaa ja kulttuurihistoriaa.
      p Jäppinen on työskennellyt 1980-luvulta lähtien <span property="jobTitle">korutaiteilija</span>na, <span property="jobTitle">heraldikko</span>na, <span property="jobTitle">lavastaja</span>na, <span property="jobTitle">kansainvälisen taiteilijavaihdon tuottaja</span>na, ja tänään hänet tunnetaan myös <span property="jobTitle">rautakautisten menetelmien tutkija</span>na ja <span property="jobTitle">tietokirjailija</span>na.
      meta(property="alumniOf" content="Lahden kultaseppäkoulu")
      meta(property="alumniOf" content="Taideteollinen korkeakoulu")
      meta(property="alumniOf" content="Tampereen yliopisto")
      meta(property="alumniOf" content="Turun yliopisto")
    ul.projects
      li.large(typeof="Book")
        a(href="pajanhamarasta" property="url" rel="author")
          article#pajanhamarasta
            div
              h1(property="name") Pajan hämärästä
              h2(property="headline") Sepän kulttuurihistoriaa
      li
        a(href="http://rautakymi.fi" target="_blank")
          article#rautakymi
            div
              h1 Talonpoikia, seppiä, lohiylimyksiä
              h2 Arkeologian harrastajien tutkielma Kymijokilaakson rautakautisesta asutuksesta
      li
        a(href="http://lovart.fi" target="_blank")
          article#lovart
            div
              h1 Loviisa Artists' Studio
              h2 Let's work in peace
    ul.articles
      li
        a(href="rautakuona.pdf" target="_blank")
          article#rautakuona
            div.cover
            h1 Kymijokisuiston rautakuona
      li
        a(href="tammijarvi.pdf" target="_blank")
          article#tammijarvi
            div.cover
            h1 Experimentel forskning vid Tammijärvi i Pyttis
      li
        a(href="straka.pdf" target="_blank")
          article#straka
            div.cover
            h1 Stråka Järnframställning
      li
        a(href="anttijappinen.pdf" target="_blank")
          article#anttijappinen
            div.cover
            h1 Sotamies Antti Jäppinen
      li
        a(href="ikuisetseprat.pdf" target="_blank")
          article#ikuisetseprat
            div.cover
            h1 Ikuiset Seprat
    footer
      nav.links
        ul
          li
            a(href="cv" rel="prefetch") CV
          li
            a(href="kirjoituksia.pdf" rel="prefetch") Kirjoituksia
          li
            a(href="contact" rel="prefetch") Ota yhteyttä
          li
            a(href="http://www.finnishdesigners.fi/portfolio/jouni.jappinen" target="_blank") Ornamo
          li
            a(href="http://www.artists-o.fi" target="_blank") Taiteilijat O
