@import "default.scss";

article#cv {
  background-color: $backColor;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 40px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: $frontColor;
  font-size: 1.75*$unit;
  line-height: 2.5*$unit;
  margin: 0 auto;
  max-width: 210mm;
  padding: 2*$unit;
  text-align: left !important;

  header {
    margin-bottom: 40px;

    h1 { margin-bottom: 10px }
  }
  header p, aside {
    color: lighten($frontColor, 60);
    font-style: italic;
    line-height: 2*$unit
  }
  section {
    page-break-inside: avoid;

    + section { margin-top: 2*$unit }
    h2 {
      font-size: inherit;
      font-weight: bold;
      margin-bottom: 2*$unit
    }
    ul {
      li {
        + li { margin-top: 10px }
        time {
          color: lighten($frontColor, 60);
          float: left;
          font-style: italic;
          width: 25%
        }
        h3, aside { margin-left: 30% }
      }
    }

    &:last-child h2 {
      float: none !important;
      margin-bottom: 2*$unit !important
    }
  }
}

@media (min-width: $mobileWidth) {
  body {
    padding: 4*$unit 0;
  
    article#cv {
      min-height: 297mm;
      padding: 8*$unit 10*$unit;
  
      header { margin-bottom: 5*$unit }
      section {
        h2 {
          float: left;
          margin-bottom: 0
        }
        ul { margin-left: 20% }
      }
      @media print {
        box-shadow: none;
        min-height: 0
      }
    } 
  }
}

@media print {
  body {
    background: none;
  
    #content {
      margin: 0;
      padding: 0
    }
  }
}