@import "default.scss";

body {
  background-color: rgb(219, 219, 219);
}

article#ikuisetseprat {

  div.image {
    background: url(/ikuisetseprat-cover.jpg);
    background-position: 50% 75%;
    background-size: cover;
    height: 25vh
  }
  header {
    background-color: rgb(0, 74, 128);
    color: white;
    padding: 4*$unit;
    text-align: center;
  }
  section {
    padding-top: 2*$unit;

    p {
      margin: 0 auto 2*$unit auto;
      max-width: 100*$unit;
      padding: 0 2*$unit
    }
  }
  > a {
    color: rgb(0, 74, 128);
    display: block;
    font-size: 3*$unit;
    margin-bottom: unit;
    padding: 4*$unit;
    text-align: center;
    text-decoration: none;

    &:hover{ background-color: rgba(0, 0, 0, 0.1) }
  }

  footer {
    margin: 0 auto;
    max-width: 100*$unit;
    padding: 2*$unit 0 6*$unit 0;
    text-align: center;

    p { margin-bottom: unit }
  }
}
