@import "default.scss";

header.splash {
		background: url(/sokerikko.jpg);
		background-position: 25% center;
		background-repeat: no-repeat;
		background-size: cover;
		color: $backColor;
		height: 100vh;
		overflow-y: hidden;
		position: relative;
		z-index: -1;

		div {
			left: 2*$unit;
			position: fixed;
			top: 50%;
			transform: translateY(-50%);

			h2 { color: opacify($backColor, 0.4) }
    }
}

main {
  position: relative;

  section.about {
    margin: 8*$unit auto;
    max-width: 80*$unit;
    padding: 0 2*$unit;

    p + p { margin-top: $unit }
  }

  ul.projects {
    display: flex;
    flex-wrap: wrap;
    padding: 1*$unit;

    li {
      box-sizing: border-box;
      height: 40vh;
      padding: 1*$unit;
      width: 100%;

      a {
        display: block;
        height: 100%;
        text-decoration: none;

        &:hover article {
          transform: scale(0.95);
          transform-origin: 50% 50%
        }

        article {
          background-color: opacify($frontColor, 0.05);
          background-position: center;
          background-size: cover;
          box-sizing: border-box;
          color: $backColor !important;
          height: 100%;
          position: relative;
          transition: transform $transitionStyle;

          div {
            left: 50%;
            position: absolute;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.4);
            top: 50%;
            transform: translate(-50%,-50%);
            width: 90%
          }
        }
      }
    }
  }

  ul.articles {
    overflow-x: hidden;
    padding: 1*$unit;
    width: 100%;

    li {
      box-sizing: border-box;
      float: left;
      padding: 1*$unit;
      width: 50%;

      a {
        display: block;
        height: 100%;
        text-decoration: none;

        &:hover article {
          transform: scale(0.95);
          transform-origin: 50% 50%
        }

        article {
          box-sizing: border-box;
          height: 100%;
          padding: 2*$unit;
          position: relative;
          transition: transform $transitionStyle;

          div.cover {
            background-color: opacify($frontColor, 0.05);
            background-position: center;
            background-size: cover;
            height: 0;
            margin: 0 auto 2*$unit auto;
            padding-bottom: 106.67%;
            width: 75%
          }
          h1 {
            font-size: inherit;
            text-align: center
          }
        }
      }
    }
  }

  footer {
    nav.links {
      ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: block;
        padding: 2*$unit 0;
        text-align: center;
        text-decoration: none;

        &:hover { background-color: rgba(0, 0, 0, 0.05) }
      }
    }
  }

  @media (min-width: $dualPaneWidth*0.5) {
    ul.projects li{ width: 50% }
    ul.articles li { width: 20% }
  }
}

@media (min-width: $dualPaneWidth) {
  header.splash {
    position: fixed;
    top: 0;
    width: 50%
  }
  main {
    margin-left: 50%;
    width: 50%
  }
}

#pajanhamarasta { background-image: url(/pajanhamarasta.jpg) }
#rautakymi { background-image: url(/rautakymi.jpg) }
#ikuisetseprat {
  background-image: url(/ikuisetseprat.jpg);
  background-position: top center;
}
#lovart { background-image: url(/lovart.jpg) }
#rautakuona .cover { background-image: url(/rautakuona.jpg) }
#tammijarvi .cover { background-image: url(/tammijarvi.jpg) }
#straka .cover { background-image: url(/straka.jpg) }
#anttijappinen .cover { background-image: url(/anttijappinen.jpg) }
#ikuisetseprat-article .cover { background-image: url(/ikuisetseprat-article.jpg) }