@import "default.scss";

body {
  background-color: rgb(26, 25, 25);
  color: white
}

article#pajanhamarasta {
  div.image {
    background: url(/pajanhamarasta-cover.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 25vh
  }
  header {
    background-color: rgb(61, 19, 15);
    padding: 4*$unit;
    text-align: center
  }
  section {
    background-color: rgb(61, 19, 15);
    padding-bottom: 2*$unit;

    p {
      margin: 0 auto 2*$unit auto;
      max-width: 100*$unit;
      padding: 0 2*$unit
    }
  }
  > a {
    color: rgb(161, 42, 38);
    display: block;
    font-size: 3*$unit;
    margin-bottom: unit;
    padding: 4*$unit;
    text-align: center;
    text-decoration: none;

    &:hover{ background-color: rgba(0, 0, 0, 0.1) }
  }

  footer {
    margin: 0 auto;
    max-width: 100*$unit;
    padding: 2*$unit 0 6*$unit 0;
    text-align: center;

    p { margin-bottom: unit }
  }
}