html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif'), local('NotoSerif'), url("//fonts.gstatic.com/s/notoserif/v4/eCpfeMZI7q4jLksXVRWPQ8DdSZkkecOE1hvV7ZHvhyU.ttf") format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url("//fonts.gstatic.com/s/notoserif/v4/HQXBIwLHsOJCNEQeX9kNz5S3E-kSBmtLoNJPDtbj2Pk.ttf") format('truetype');
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}
h1 {
  font-size: 24px;
  line-height: 24px;
}
body#error {
  background: #fff;
  color: #e6e6e6;
  height: 100%;
}
body#error h1 {
  font-size: 32px;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body {
  color: rgba(0,0,0,0.8);
  font-family: "Noto Serif", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 24px;
}
body.index header.splash {
  background: url("/files/sokerikko.jpg");
  background-position: 25% center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
  overflow-y: hidden;
  position: relative;
  z-index: -1;
}
body.index header.splash div {
  left: 16px;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body.index header.splash div h2 {
  color: rgba(255,255,255,0.4);
}
body.index main {
  position: relative;
}
body.index main section.about {
  font-size: 24px;
  line-height: 32px;
  margin: 64px auto;
  max-width: 640px;
  padding: 0 16px;
}
body.index main section.about p + p {
  margin-top: 8px;
}
body.index main ul.projects {
  zoom: 1;
  padding: 8px;
}
body.index main ul.projects:before,
body.index main ul.projects:after {
  content: "";
  display: table;
}
body.index main ul.projects:after {
  clear: both;
}
body.index main ul.projects li {
  box-sizing: border-box;
  float: left;
  height: 25vh;
  padding: 8px;
  width: 100%;
}
body.index main ul.projects li.large {
  height: 50vh;
}
body.index main ul.projects li a {
  display: block;
  height: 100%;
  text-decoration: none;
}
body.index main ul.projects li a:hover article {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
body.index main ul.projects li a article {
  background-color: rgba(0,0,0,0.05);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  color: #fff !important;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
body.index main ul.projects li a article div {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
}
body.index main ul.articles {
  zoom: 1;
  padding: 8px;
}
body.index main ul.articles:before,
body.index main ul.articles:after {
  content: "";
  display: table;
}
body.index main ul.articles:after {
  clear: both;
}
body.index main ul.articles li {
  box-sizing: border-box;
  float: left;
  padding: 8px;
  width: 50%;
}
body.index main ul.articles li a {
  display: block;
  height: 100%;
  text-decoration: none;
}
body.index main ul.articles li a:hover article {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
body.index main ul.articles li a article {
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
body.index main ul.articles li a article div.cover {
  background-color: rgba(0,0,0,0.05);
  background-position: center;
  background-size: cover;
  height: 0;
  margin: 0 auto 16px auto;
  padding-bottom: 106.67%;
  width: 75%;
}
body.index main ul.articles li a article h1 {
  font-size: inherit;
  text-align: center;
}
body.index main footer nav.links ul li a {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: block;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
}
body.index main footer nav.links ul li a:hover {
  background-color: rgba(0,0,0,0.05);
}
@media (min-width: 800px) {
  body.index main ul.projects li {
    width: 50%;
  }
  body.index main ul.articles li {
    width: 20%;
  }
}
@media (min-width: 1600px) {
  body.index header.splash {
    position: fixed;
    top: 0;
    width: 50%;
  }
  body.index main {
    margin-left: 50%;
    width: 50%;
  }
}
body.index #pajanhamarasta {
  background-image: url("/files/pajanhamarasta.jpg");
}
body.index #pajanhamarasta div {
  bottom: 16px;
  left: auto;
  right: 16px;
  text-align: right;
  top: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
body.index #pajanhamarasta div h1 {
  color: #000;
}
body.index #pajanhamarasta div h2 {
  color: rgba(0,0,0,0.4);
}
body.index #rautakymi {
  background-image: url("/files/rautakymi.jpg");
}
body.index #lovart {
  background-image: url("/files/lovart.jpg");
}
body.index #rautakymi,
body.index #lovart {
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 2px 6px rgba(0,0,0,0.4);
}
body.index #rautakuona .cover {
  background-image: url("/files/rautakuona.jpg");
}
body.index #tammijarvi .cover {
  background-image: url("/files/tammijarvi.jpg");
}
body.index #straka .cover {
  background-image: url("/files/straka.jpg");
}
body.index #anttijappinen .cover {
  background-image: url("/files/anttijappinen.jpg");
}
body.index #ikuisetseprat .cover {
  background-image: url("/files/ikuisetseprat.jpg");
}
body.index #ikuisetseprat .cover div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body.index #ikuisetseprat .cover div h1 {
  color: #fff;
}
body.index #ikuisetseprat .cover div h2 {
  color: rgba(255,255,255,0.8);
}
body.cv article#cv {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 10px 40px rgba(0,0,0,0.1);
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
  max-width: 210mm;
  padding: 16px;
  text-align: left !important;
}
body.cv article#cv header {
  margin-bottom: 40px;
}
body.cv article#cv header h1 {
  margin-bottom: 10px;
}
body.cv article#cv header p,
body.cv article#cv aside {
  color: #999;
  font-style: italic;
  line-height: 16px;
}
body.cv article#cv section {
  page-break-inside: avoid;
}
body.cv article#cv section + section {
  margin-top: 16px;
}
body.cv article#cv section h2 {
  font-size: inherit;
  font-weight: bold;
  margin-bottom: 16px;
}
body.cv article#cv section ul li {
  zoom: 1;
}
body.cv article#cv section ul li:before,
body.cv article#cv section ul li:after {
  content: "";
  display: table;
}
body.cv article#cv section ul li:after {
  clear: both;
}
body.cv article#cv section ul li + li {
  margin-top: 10px;
}
body.cv article#cv section ul li time {
  color: #999;
  float: left;
  font-style: italic;
  width: 25%;
}
body.cv article#cv section ul li h3,
body.cv article#cv section ul li aside {
  margin-left: 30%;
}
body.cv article#cv section:last-child h2 {
  float: none !important;
  margin-bottom: 16px !important;
}
@media (min-width: 480px) {
  body.cv {
    padding: 32px 0;
  }
  body.cv article#cv {
    min-height: 297mm;
    padding: 64px 80px;
  }
  body.cv article#cv header {
    margin-bottom: 40px;
  }
  body.cv article#cv section h2 {
    float: left;
    margin-bottom: 0;
  }
  body.cv article#cv section ul {
    margin-left: 20%;
  }
}
@media print {
  body.cv {
    background: none;
  }
  body.cv label[for="nav-checkbox"],
  body.cv #nav-checkbox,
  body.cv #nav {
    display: none;
  }
  body.cv #content {
    margin: 0;
    padding: 0;
  }
}
@media print and (min-width: 480px) {
  body.cv article#cv {
    box-shadow: none;
    min-height: 0;
  }
}
body.pajanhamarasta {
  background-color: #1a1919;
  color: #fff;
}
body.pajanhamarasta article#pajanhamarasta div.image {
  background: url("/files/pajanhamarasta-cover.jpg");
  background-position: 50% 50%;
  background-size: cover;
  height: 25vh;
}
body.pajanhamarasta article#pajanhamarasta header {
  background-color: #3d130f;
  padding: 32px;
  text-align: center;
}
body.pajanhamarasta article#pajanhamarasta section {
  background-color: #3d130f;
  padding-bottom: 16px;
}
body.pajanhamarasta article#pajanhamarasta section p {
  margin: 0 auto 16px auto;
  max-width: 800px;
  padding: 0 16px;
}
body.pajanhamarasta article#pajanhamarasta > a {
  color: #a12a26;
  display: block;
  font-size: 24px;
  margin-bottom: 8px;
  padding: 32px;
  text-align: center;
  text-decoration: none;
}
body.pajanhamarasta article#pajanhamarasta > a:hover {
  background-color: rgba(0,0,0,0.1);
}
body.pajanhamarasta article#pajanhamarasta footer {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
body.pajanhamarasta article#pajanhamarasta footer p {
  margin-bottom: 8px;
}
