.container {
  background-color: rgb(26, 25, 25);
  color: white;
}

.image {
  background: url('./cover.jpg');
  background-position: 50% 50%;
  background-size: cover;
  height: 25vh;
}

.header {
  background-color: rgb(61, 19, 15);
  padding: 2rem;
  text-align: center;
}

.header h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.section {
  background-color: rgb(61, 19, 15);
  padding-bottom: 1rem;
}

.section p {
  margin: 0 auto 1rem auto;
  max-width: 50rem;
  padding: 0 1rem;
}

.link {
  color: rgb(161, 42, 38);
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem 0 4rem 0;
  text-align: center;
}

.footer p {
  margin-bottom: 0.5rem;
}
